<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plano Alimentar</title>
    <link rel="stylesheet" href="/static/plataforma/css/css.css" />
    <link rel="stylesheet" href="/static/plataforma/css/plano_alimentar.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://npmcdn.com/parse/dist/parse.min.js"></script>
    <script src="/script.js"></script>
    <script>
        // Inicializa o Parse
        Parse.initialize(
            "6LAVwcoGQ2XX4nDRe7n9Ng1ES0HCP0qDnO5DCmJB",
            "mt4zRG5t4bIcWOVSCzh08A1BKjUfI6GcgzkLYwCk"
        );
        Parse.serverURL = "https://parseapi.back4app.com";
        console.log("Parse.serverURL:", Parse.serverURL);
        console.log("typeof Parse:", typeof Parse);
    </script>

    <style>
       
        .navbar-nav-sidebar .nav-item {
            margin-right: 0;
        }

        .navbar-nav-sidebar .nav-link {
            padding-left: 1rem;
        }
    </style>
</head>

<body>
    <nav style="background-color: #27db8f" class="navbar navbar-expand-lg navbar-dark">
        <a style="font-weight: bold" class="navbar-brand" href="#">NUTRI LAB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" id="menu-autenticacao">
                <script>atualizarMenuAutenticacao();</script>
            </ul>

            <!-- Sidebar links for mobile -->
            <ul class="navbar-nav navbar-nav-sidebar">
                <li class="nav-item">
                    <a class="nav-link active" href="pacientes.html">
                        <img src="/static/img/paciente.png" alt="Pacientes" />
                        <span>Gerenciar Pacientes</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="dados_paciente_listar.html">
                        <img src="/static/img/dados_paciente.png" alt="Dados do Paciente" />
                        <span>Dados do Pacientes</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="plano_alimentar_listar.html">
                        <img src="/static/img/plano_alimentar.png" alt="Plano Alimentar" />
                        <span>Plano alimentar</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebar" class="col-md-2">
                <a href="pacientes.html" class="link-lateral">
                    <div class="card-lateral">
                        <img src="/static/img/paciente.png" alt="Pacientes" />
                        <br />
                        <br />
                        <h3>Gerenciar Pacientes</h3>
                    </div>
                </a>

                <a href="dados_paciente_listar.html" class="link-lateral">
                    <div class="card-lateral">
                        <img src="/static/img/dados_paciente.png" alt="Dados do Paciente" />
                        <br />
                        <br />
                        <h3>Dados do Pacientes</h3>
                    </div>
                </a>

                <a href="plano_alimentar_listar.html" class="link-lateral">
                    <div class="card-lateral">
                        <img src="/static/img/plano_alimentar.png" alt="Plano Alimentar" />
                        <br />
                        <br />
                        <h3>Plano alimentar</h3>
                    </div>
                </a>
            </nav>

   

            <!-- Conteúdo principal -->
            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Plano Alimentar</h1>
                </div>

                <!-- Container para dados do paciente -->
                <div id="dadosPacienteContainer" class="mb-4">
                    <!-- Dados do paciente serão carregados aqui -->
                </div>

                <!-- Ações -->
                <div class="d-flex justify-content-between mb-3">
                    <button type="button" class="btn btn-outline-success" data-toggle="modal"
                        data-target="#modalNovaRefeicao">
                        + Nova refeição
                    </button>
                    <button type="button" class="btn btn-outline-primary">
                        Exportar refeição
                    </button>
                </div>

                <!-- Container para listagem das refeições -->
                <div id="listaRefeicoes" class="row">
                    <!-- As refeições serão carregadas aqui pelo JavaScript -->
                </div>

                <!-- Modals -->
                <!-- Modal para Adicionar Nova Refeição -->
                <div class="modal fade" id="modalNovaRefeicao" tabindex="-1" role="dialog"
                    aria-labelledby="modalNovaRefeicaoLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalNovaRefeicaoLabel">
                                    Adicionar refeição
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="formNovaRefeicao">
                                    <div class="form-group">
                                        <label for="titulo">Título</label>
                                        <input type="text" class="form-control" id="titulo"
                                            placeholder="Ex: Café da manhã" required
                                            title="Insira o nome da refeição (ex: Café da Manhã)" />
                                    </div>
                                    <div class="form-group">
                                        <label for="horario">Horário</label>
                                        <input type="time" class="form-control" id="horario" required
                                            title="Insira o horário da refeição" />
                                    </div>
                                    <h5 class="mt-3">Macronutrientes</h5>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="carboidratos">Carboidratos</label>
                                                <input type="number" class="form-control" id="carboidratos"
                                                    placeholder="" title="Insira a quantidade de carboidratos" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="proteinas">Proteínas</label>
                                                <input type="number" class="form-control" id="proteinas"
                                                    placeholder="" title="Insira a quantidade de proteínas" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="gorduras">Gorduras</label>
                                                <input type="number" class="form-control" id="gorduras"
                                                    placeholder="" title="Insira a quantidade de gorduras" />
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success btn-block">Cadastrar</button>
                                </form>
                                <button type="button" class="btn btn-outline-success btn-block mt-3"
                                    data-toggle="modal" data-target="#modalNovaOpcao">
                                    + Nova opção
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal para Adicionar Nova Opção -->
                <div class="modal fade" id="modalNovaOpcao" tabindex="-1" role="dialog"
                    aria-labelledby="modalNovaOpcaoLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalNovaOpcaoLabel">Adicionar Opção</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="formNovaOpcao" enctype="multipart/form-data">
                                    <!-- Campo oculto para o ID do paciente -->
                                    <input type="hidden" id="pacienteId" name="pacienteId" value="">

                                    <div class="form-group">
                                        <label for="refeicao">Selecione a refeição</label>
                                        <select class="form-control" id="refeicao" required
                                            title="Selecione a refeição para adicionar a opção"></select>
                                    </div>

                                    <div class="form-group">
                                        <label for="tamanhoPorcao">Tamanho da Porção</label>
                                        <input type="number" class="form-control" id="tamanhoPorcao"
                                            title="Insira o tamanho da porção em gramas ou ml" required />
                                    </div>

                                    <div class="form-group">
                                        <label for="imagem">Imagem</label>
                                        <input type="file" class="form-control" id="imagem" required
                                            title="Selecione uma imagem para a opção" />
                                    </div>
                                    <div class="form-group">
                                        <label for="descricao">Descrição</label>
                                        <textarea class="form-control" id="descricao"
                                            title="Insira uma descrição do alimento"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label for="informacoesNutricionais">Informações Nutricionais</label>
                                        <textarea class="form-control" id="informacoesNutricionais"
                                            title="Insira as informações nutricionais (calorias, macros)"></textarea>
                                    </div>

                                    <button type="submit" class="btn btn-success btn-block">Cadastrar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal para Editar Refeição -->
                <div class="modal fade" id="modalEditarRefeicao" tabindex="-1" role="dialog"
                    aria-labelledby="modalEditarRefeicaoLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalEditarRefeicaoLabel">
                                    Editar Refeição
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="formEditarRefeicao">
                                    <input type="hidden" id="editarRefeicaoId">
                                    <div class="form-group">
                                        <label for="editarTitulo">Título</label>
                                        <input type="text" class="form-control" id="editarTitulo"
                                            placeholder="Ex: Café da manhã" required
                                            title="Insira o nome da refeição (ex: Café da Manhã)" />
                                    </div>
                                    <div class="form-group">
                                        <label for="editarHorario">Horário</label>
                                        <input type="time" class="form-control" id="editarHorario" required
                                            title="Insira o horário da refeição" />
                                    </div>
                                    <h5 class="mt-3">Macronutrientes</h5>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="editarCarboidratos">Carboidratos</label>
                                                <input type="number" class="form-control" id="editarCarboidratos"
                                                    placeholder="" title="Insira a quantidade de carboidratos" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="editarProteinas">Proteínas</label>
                                                <input type="number" class="form-control" id="editarProteinas"
                                                    placeholder="" title="Insira a quantidade de proteínas" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="editarGorduras">Gorduras</label>
                                                <input type="number" class="form-control" id="editarGorduras"
                                                    placeholder="" title="Insira a quantidade de gorduras" />
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block">Salvar Alterações</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal de Confirmação de Exclusão -->
                <div class="modal fade" id="modalExcluirRefeicao" tabindex="-1" role="dialog"
                    aria-labelledby="modalExcluirRefeicaoLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalExcluirRefeicaoLabel">Confirmar Exclusão</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Tem certeza de que deseja excluir esta refeição?
                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-danger" id="confirmarExclusao">Excluir</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal de Edição de Opção -->
                <div class="modal fade" id="modalEditarOpcao" tabindex="-1" role="dialog"
                    aria-labelledby="modalEditarOpcaoLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalEditarOpcaoLabel">Editar Opção</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="formEditarOpcao" enctype="multipart/form-data">
                                    <input type="hidden" id="editarOpcaoId">
                                    <div class="form-group">
                                        <label for="editarDescricao">Descrição</label>
                                        <textarea class="form-control" id="editarDescricao"
                                            title="Insira uma descrição do alimento"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label for="editarTamanhoPorcao">Tamanho da Porção</label>
                                        <input type="number" class="form-control" id="editarTamanhoPorcao"
                                            title="Insira o tamanho da porção em gramas ou ml" />
                                    </div>

                                    <div class="form-group">
                                        <label for="editarInformacoesNutricionais">Informações Nutricionais</label>
                                        <textarea class="form-control" id="editarInformacoesNutricionais"
                                            title="Insira as informações nutricionais (calorias, macros)"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label for="editarImagem">Imagem (Selecione para alterar)</label>
                                        <input type="file" class="form-control" id="editarImagem"
                                            title="Selecione uma nova imagem para a opção (opcional)" />
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block">Salvar Alterações</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal de Confirmação de Exclusão de Opção -->
                <div class="modal fade" id="modalExcluirOpcao" tabindex="-1" role="dialog"
                    aria-labelledby="modalExcluirOpcaoLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalExcluirOpcaoLabel">Confirmar Exclusão da Opção</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Tem certeza de que deseja excluir esta opção?
                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-danger" id="confirmarExclusaoOpcao">Excluir</button>
                            </div>
                        </div>
                    </div>
                </div>

            </main>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

   
      

    <script>
         requireAuth();
        // Função para obter o ID do paciente da URL (ex.: plano_alimentar.html?id=ALGUM_ID)
        function obterIdPacienteDaURL() {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get("id");
        }
        const idPaciente = obterIdPacienteDaURL();

        // Busca e exibe os dados do paciente
        async function buscarDadosPaciente(idPaciente) {
            try {
                const Pacientes = Parse.Object.extend("Pacientes");
                const query = new Parse.Query(Pacientes);
                const paciente = await query.get(idPaciente);

                document.getElementById("dadosPacienteContainer").innerHTML = `
                <div class="d-flex align-items-center border rounded p-3 mb-3">
                    <img src="/static/img/perfil1.png" alt="Perfil" class="rounded-circle mr-3" style="width: 80px; height: 80px;">
                    <div>
                        <h4>${paciente.get("nome")}</h4>
                        <p class="text-muted">Idade: ${paciente.get("idade")}</p>
                    </div>
                </div>
                `;
            } catch (error) {
                console.error("Erro ao buscar dados do paciente:", error);
                window.location.href = "#";
            }
        }
        buscarDadosPaciente(idPaciente);
    </script>

    <!-- Script para listar refeições e tratar o envio do formulário de nova refeição -->
    <script>

    let refeicaoIdParaExcluir; // Variável global para armazenar o ID da refeição a ser excluída
    let opcaoIdParaExcluir;

    async function listarRefeicoes() {
        if (!idPaciente) {
            console.error("ID do paciente não definido!");
            document.getElementById("listaRefeicoes").innerHTML = "<p>Erro: ID do paciente não definido.</p>";
            return;
        }
        console.log("ID do paciente:", idPaciente);

        const Refeicao = Parse.Object.extend("Refeicao");
        const query = new Parse.Query(Refeicao);

        // Inclui o pointer do paciente para depuração
        query.include("paciente");

        // Cria um objeto do tipo Pacientes com o id atual para filtrar as refeições
        const Paciente = Parse.Object.extend("Pacientes");
        const paciente = new Paciente();
        paciente.id = idPaciente;

        query.equalTo("paciente", paciente);
        query.descending("createdAt"); // Ordena pela data de criação

        try {
            const results = await query.find();
            console.log("Resultados da consulta de refeições:", results);
            const listaContainer = document.getElementById("listaRefeicoes");
            listaContainer.innerHTML = "";

            if (results.length > 0) {
                let html = '';
                for (const refeicao of results) {
                    // Busca as opções da refeição
                    const opcoes = await buscarOpcoesDaRefeicao(refeicao.id);

                    html += `
                      <div class="col-md-6 mb-4">
                        <div class="card meal-card h-100">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">${refeicao.get("titulo")}</h5>
                                <p class="card-text">Horário: ${refeicao.get("horario")}</p>
                                <p class="card-text">Carboidratos: ${refeicao.get("carboidratos")}</p>
                                <p class="card-text">Proteínas: ${refeicao.get("proteinas")}</p>
                                <p class="card-text">Gorduras: ${refeicao.get("gorduras")}</p>
                                <div>
                                    ${opcoes}
                                </div>
                                <div class="mt-auto buttons d-flex justify-content-between">
                                    <button class="btn btn-sm btn-primary btnEditarRefeicao" data-id="${refeicao.id}"
                                        data-titulo="${refeicao.get("titulo")}" data-horario="${refeicao.get("horario")}"
                                        data-carboidratos="${refeicao.get("carboidratos")}" data-proteinas="${refeicao.get("proteinas")}"
                                        data-gorduras="${refeicao.get("gorduras")}" data-toggle="modal"
                                        data-target="#modalEditarRefeicao">Editar</button>
                                    <button class="btn btn-sm btn-danger btnExcluirRefeicao" data-id="${refeicao.id}"
                                        data-toggle="modal" data-target="#modalExcluirRefeicao">Excluir</button>
                                </div>
                            </div>
                        </div>
                      </div>
                    `;
                }
                listaContainer.innerHTML = html;
            } else {
                listaContainer.innerHTML = "<p>Nenhuma refeição encontrada.</p>";
            }
        } catch (error) {
            console.error("Erro ao listar refeições:", error);
            document.getElementById("listaRefeicoes").innerHTML = "<p>Erro ao carregar refeições.</p>";
        }
    }

    async function buscarOpcoesDaRefeicao(refeicaoId) {
    const Opcao = Parse.Object.extend("Opcao");
    const query = new Parse.Query(Opcao);
    const Refeicao = Parse.Object.extend("Refeicao");
    const refeicao = new Refeicao();
    refeicao.id = refeicaoId;
    query.equalTo("refeicao", refeicao);
    query.include("imagem"); // Inclui a imagem para exibir a URL

    try {
        const results = await query.find();
        let opcoesHTML = "";
        if (results.length > 0) {
            results.forEach(opcao => {
                opcoesHTML += `
                    <div class="opcao">
                        <div class="opcao">
                        <p><strong>Descrição:</strong> ${opcao.get("descricao")}</p>
                        <p><strong>Tamanho da Porção:</strong> ${opcao.get("tamanhoPorcao")} g</p>
                        <p><strong>Informações Nutricionais: </strong>${opcao.get("informacoesNutricionais")}</p>
                        <p></p>
                    </div>
                        ${opcao.get("imagem") ? `<img src="${opcao.get("imagem").url()}" width="100%" />` : ''}
                         <div class="opcao-buttons">
                            <button class="btn btn-sm btn-primary btnEditarOpcao" data-id="${opcao.id}"
                                data-descricao="${opcao.get("descricao")}"
                                data-tamanhoporcao="${opcao.get("tamanhoPorcao")}"
                                data-informacoesnutricionais="${opcao.get("informacoesNutricionais")}"
                                data-toggle="modal" data-target="#modalEditarOpcao">Editar</button>
                            <button class="btn btn-sm btn-danger btnExcluirOpcao" data-id="${opcao.id}"
                                data-toggle="modal" data-target="#modalExcluirOpcao">Excluir</button>
                            </div>
                    </div>
                `;
            });
        } else {
            opcoesHTML = "<p>Nenhuma opção encontrada para esta refeição.</p>";
        }
        return opcoesHTML;
    } catch (error) {
        console.error("Erro ao listar opções:", error);
        return "<p>Erro ao carregar opções.</p>";
    }
}

    listarRefeicoes();

    // Função para popular o select de refeições no modal de nova opção
    async function popularSelectRefeicoes() {
        const selectRefeicao = document.getElementById("refeicao");
        selectRefeicao.innerHTML = ""; // Limpa as opções existentes

        const Refeicao = Parse.Object.extend("Refeicao");
        const query = new Parse.Query(Refeicao);

        // Cria um objeto do tipo Pacientes com o id atual para filtrar as refeições
        const Paciente = Parse.Object.extend("Pacientes");
        const paciente = new Paciente();
        paciente.id = idPaciente;

        query.equalTo("paciente", paciente);
        query.descending("createdAt"); // Ordena pela data de criação

        try {
            const results = await query.find();
            console.log("Resultados da consulta de refeições:", results);

            if (results.length > 0) {
                results.forEach(refeicao => {
                    const option = document.createElement("option");
                    option.value = refeicao.id;
                    option.text = refeicao.get("titulo");
                    selectRefeicao.appendChild(option);
                });
            } else {
                const option = document.createElement("option");
                option.value = "";
                option.text = "Nenhuma refeição encontrada";
                selectRefeicao.appendChild(option);
            }
        } catch (error) {
            console.error("Erro ao buscar refeições:", error);
            const option = document.createElement("option");
            option.value = "";
            option.text = "Erro ao carregar refeições";
            selectRefeicao.appendChild(option);
        }
    }

    // Chama a função para popular o select quando o modal de nova opção é aberto
    $('#modalNovaOpcao').on('show.bs.modal', function (event) {
        popularSelectRefeicoes();
        document.getElementById("pacienteId").value = idPaciente; // Define o valor do campo oculto
    });

    // Trata o envio do formulário para criar uma nova refeição
    document.getElementById("formNovaRefeicao").addEventListener("submit", async (event) => {
        event.preventDefault();

        const titulo = document.getElementById("titulo").value;
        const horario = document.getElementById("horario").value;
        const carboidratos = document.getElementById("carboidratos").value;
        const proteinas = document.getElementById("proteinas").value;
        const gorduras = document.getElementById("gorduras").value;

        try {
            const response = await Parse.Cloud.run("criarRefeicao", {
                pacienteId: idPaciente,
                titulo: titulo,
                horario: horario,
                carboidratos: carboidratos,
                proteinas: proteinas,
                gorduras: gorduras
            });
            if (response.success) {
                alert("Refeição criada com sucesso!");
                document.getElementById("formNovaRefeicao").reset();
                $('#modalNovaRefeicao').modal('hide');
                listarRefeicoes();
                popularSelectRefeicoes(); // Atualiza o select após criar uma nova refeição
            } else {
                alert("Erro ao criar refeição: " + response.message);
            }
        } catch (error) {
            console.error("Erro ao criar refeição:", error);
            alert("Erro ao criar refeição: " + error.message);
        }
    });

    // Trata o envio do formulário para criar uma nova opção
document.getElementById("formNovaOpcao").addEventListener("submit", async (event) => {
    event.preventDefault();

    const refeicaoId = document.getElementById("refeicao").value;
    const imagemInput = document.getElementById("imagem");
    const descricao = document.getElementById("descricao").value;
    const pacienteId = idPaciente; // Obtém o ID do paciente da variável global
    const tamanhoPorcao = document.getElementById("tamanhoPorcao").value;
    const informacoesNutricionais = document.getElementById("informacoesNutricionais").value;

    console.log("Tamanho da Porção:", tamanhoPorcao);
    console.log("Informações Nutricionais:", informacoesNutricionais);

    // Verifica se um arquivo de imagem foi selecionado
    if (imagemInput.files.length === 0) {
        alert("Por favor, selecione uma imagem.");
        return;
    }

    const imagemFile = imagemInput.files[0];

    // Converte a imagem para base64
    const reader = new FileReader();
    reader.onloadend = async () => {
        const imagemBase64 = reader.result.split(',')[1]; // Remove o prefixo data:image/png;base64,

        try {
            const response = await Parse.Cloud.run("criarOpcao", {
                refeicaoId: refeicaoId,
                imagem: imagemBase64,
                descricao: descricao,
                pacienteId: pacienteId, // Envia o ID do paciente
                tamanhoPorcao: tamanhoPorcao,
                informacoesNutricionais: informacoesNutricionais
            });

            if (response.success) {
                alert("Opção criada com sucesso!");
                document.getElementById("formNovaOpcao").reset();
                $('#modalNovaOpcao').modal('hide');
                // Após criar a opção, atualiza a lista de refeições
                listarRefeicoes();
            } else {
                alert("Erro ao criar opção: " + response.message);
            }
        } catch (error) {
            console.error("Erro ao criar opção:", error);
            alert("Erro ao criar opção: " + error.message);
        }
    };
    reader.readAsDataURL(imagemFile);
});

    // Lógica para Excluir Refeição
    $(document).on('click', '.btnExcluirRefeicao', function () {
        refeicaoIdParaExcluir = $(this).data('id'); // Armazena o ID da refeição a ser excluída
    });

    $('#confirmarExclusao').on('click', async function () {
        try {
            const response = await Parse.Cloud.run("deletarRefeicao", { id: refeicaoIdParaExcluir });

            if (response.success) {
                alert("Refeição excluída com sucesso!");
                $('#modalExcluirRefeicao').modal('hide');
                listarRefeicoes(); // Atualiza a lista após a exclusão
            } else {
                alert("Erro ao excluir refeição: " + response.message);
            }
        } catch (error) {
            console.error("Erro ao excluir refeição:", error);
            alert("Erro ao excluir refeição: " + error.message);
        }
    });

    // Lógica para Editar Refeição
    $(document).on('click', '.btnEditarRefeicao', function () {
        const refeicaoId = $(this).data('id');
        const titulo = $(this).data('titulo');
        const horario = $(this).data('horario');
        const carboidratos = $(this).data('carboidratos');
        const proteinas = $(this).data('proteinas');
        const gorduras = $(this).data('gorduras');

        // Preenche os campos do modal com os dados da refeição
        $('#editarRefeicaoId').val(refeicaoId);
        $('#editarTitulo').val(titulo);
        $('#editarHorario').val(horario);
        $('#editarCarboidratos').val(carboidratos);
        $('#editarProteinas').val(proteinas);
        $('#editarGorduras').val(gorduras);
    });

    // Trata o envio do formulário de edição de refeição
    document.getElementById("formEditarRefeicao").addEventListener("submit", async (event) => {
        event.preventDefault();

        const idRefeicao = document.getElementById("editarRefeicaoId").value;
        const titulo = document.getElementById("editarTitulo").value;
        const horario = document.getElementById("editarHorario").value;
        const carboidratos = document.getElementById("editarCarboidratos").value;
        const proteinas = document.getElementById("editarProteinas").value;
        const gorduras = document.getElementById("editarGorduras").value;

        try {
            const response = await Parse.Cloud.run("atualizarRefeicao", {
                id: idRefeicao,
                titulo: titulo,
                horario: horario,
                carboidratos: carboidratos,
                proteinas: proteinas,
                gorduras: gorduras
            });
            if (response.success) {
                alert("Refeição atualizada com sucesso!");
                $('#modalEditarRefeicao').modal('hide');
                listarRefeicoes(); // Atualiza a lista após a edição
            } else {
                alert("Erro ao atualizar refeição: " + response.message);
            }
        } catch (error) {
            console.error("Erro ao atualizar refeição:", error);
            alert("Erro ao atualizar refeição: " + error.message);
        }
    });

    // Lógica para Editar Opção
    $(document).on('click', '.btnEditarOpcao', function () {
        const opcaoId = $(this).data('id');
        const descricao = $(this).data('descricao');
        const tamanhoPorcao = $(this).data('tamanhoporcao');
        const informacoesNutricionais = $(this).data('informacoesnutricionais');

        // Preenche os campos do modal com os dados da opção
        $('#editarOpcaoId').val(opcaoId);
        $('#editarDescricao').val(descricao);
        $('#editarTamanhoPorcao').val(tamanhoPorcao);
        $('#editarInformacoesNutricionais').val(informacoesNutricionais);
    });

    // Trata o envio do formulário de edição de opção
    document.getElementById("formEditarOpcao").addEventListener("submit", async (event) => {
        event.preventDefault();

        const opcaoId = document.getElementById("editarOpcaoId").value;
        const descricao = document.getElementById("editarDescricao").value;
        const tamanhoPorcao = document.getElementById("editarTamanhoPorcao").value;
        const informacoesNutricionais = document.getElementById("editarInformacoesNutricionais").value;
        const imagemInput = document.getElementById("editarImagem");
        let imagemBase64 = null;

        // Verifica se uma nova imagem foi selecionada
        if (imagemInput.files.length > 0) {
            const imagemFile = imagemInput.files[0];
            // Converte a imagem para base64
            const reader = new FileReader();
            reader.onloadend = () => {
                imagemBase64 = reader.result.split(',')[1]; // Remove o prefixo data:image/png;base64,
                atualizarOpcao(opcaoId, descricao, imagemBase64, tamanhoPorcao, informacoesNutricionais);
            };
            reader.readAsDataURL(imagemFile);
        } else {
            atualizarOpcao(opcaoId, descricao, null, tamanhoPorcao, informacoesNutricionais); // Mantém a imagem existente
        }
    });

    async function atualizarOpcao(opcaoId, descricao, imagemBase64, tamanhoPorcao, informacoesNutricionais) {
        try {
            const response = await Parse.Cloud.run("atualizarOpcao", {
                id: opcaoId,
                descricao: descricao,
                imagem: imagemBase64,
                tamanhoPorcao: tamanhoPorcao,
                informacoesNutricionais: informacoesNutricionais
            });

            if (response.success) {
                alert("Opção atualizada com sucesso!");
                $('#modalEditarOpcao').modal('hide');
                listarRefeicoes(); // Atualiza a lista após a edição
            } else {
                alert("Erro ao atualizar opção: " + response.message);
            }
        } catch (error) {
            console.error("Erro ao atualizar opção:", error);
            alert("Erro ao atualizar opção: " + error.message);
        }
    }

    // Lógica para Excluir Opção
    $(document).on('click', '.btnExcluirOpcao', function () {
        opcaoIdParaExcluir = $(this).data('id'); // Armazena o ID da opção a ser excluída
    });

    $('#confirmarExclusaoOpcao').on('click', async function () {
        try {
            const response = await Parse.Cloud.run("deletarOpcao", { id: opcaoIdParaExcluir });

            if (response.success) {
                alert("Opção excluída com sucesso!");
                $('#modalExcluirOpcao').modal('hide');
                listarRefeicoes(); // Atualiza a lista após a exclusão
            } else {
                alert("Erro ao excluir opção: " + response.message);
            }
        } catch (error) {
            console.error("Erro ao excluir opção:", error);
            alert("Erro ao excluir opção: " + error.message);
        }
    });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>