.card-lateral {
  background-color: #27db8f;
  margin-top: 20px;
  padding: 10px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  box-shadow: 5px 5px 5px gray;
}

.link-lateral:hover {
  text-decoration: none;
}

.titulo {
  color: #27db8f;
}

.card-paciente {
  background-color: #eaeaea;
  /* width: 80%; */  /* Remove fixed width */
  box-shadow: 3px 3px 3px gray;
  padding: 20px;
  color: black;
}

.link-hover:hover {
  text-decoration: none;
}

.foto-perfil {
  text-align: center;
}

.dados {
  font-weight: bold;
}

.descricao {
  margin-left: -12%;
}



/* Custom styles for the sidebar */
.sidebar {
    position: fixed; /* Fixed positioning */
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Ensure it's above other elements */
    padding: 48px 0 0; /* Account for the navbar height */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px); /* Adjust for the navbar height */
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

/* Style for the sidebar links */
.sidebar .nav-link {
  font-weight: 500;
  color: #333;
  display: flex;              /* Use flexbox to align image and text */
  align-items: center;       /* Vertically center the items */
  padding: .5rem 1rem;       /* Adjust padding as needed */
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}
/* Style for the sidebar icons */
.sidebar-icon {
  width: 20px;
  height: 20px;       /* Ensure a consistent size */
  margin-right: 5px;
  vertical-align: middle; /* Keep the icon aligned vertically */
  flex-shrink: 0;        /* Prevent the icon from shrinking */
}

.sidebar .nav-link span { /* Style for the text */
  flex-grow: 1;            /* Allow text to take up remaining space */
  /* text-align: center; Align text in center */
}

@media (max-width: 1300px) {
  .descricao {
    margin-left: 1px;
  }
}


